body {
    margin: 0;
  }
  
  .x {
    animation: x 13s linear infinite alternate;
    width: 100px;
    height: 100px;
  }
  
  .y {
    animation: y 7s linear infinite alternate;
  }
  
  @keyframes x {
    100% {
      transform: translateX( calc(100vw - 100px) );
    }
  }
  
  @keyframes y {
    100% {
      transform: translateY( calc(100vh - 100px) );
    }
  }

  .InlineWords {
      display: inline;
      word-wrap: break-word;
  }

