/* Positions */
#left-content {
    width: 455px;
}
#section-01 {
    margin-top: 150px;
}

#section-02 {
    margin-top: 80px;
}

#section-03 {
    margin-top: 110px;
}

/* Images */
#img-mars {
    height: 1200px;
    width: 1150px;
    margin-top: -400px;
    margin-left: -100px;

    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
}
#img-rocket {
    margin-bottom: -110px;
    margin-left: 175px;
}
#img-venus {
    margin-bottom: -4px;
    margin-top: -630px;
}

/* Titles */
#title-01 {
    margin-top: 340px;
    margin-left: 225px
}

#title-02 {
    margin-top: 110px;
}

/* For JavaScript */
#button-move {
    height: fit-content;
    width: fit-content;
}

/* Cookie */
#cookie {
    width: 100%;
    height: 800px;
    background-color: red;
    display: none;
}
#cookie-flex {
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
