:root {
  --primary-dark: #211539;
  --secondary-dark: #685272;
  --font-family: 'Poppins', sans-serif;
  --font-light: #FFFFFF;
  --font-gray: #FFFFFF;
}

body {
  background-color: var(--primary-dark);
}

/* header */
.header {
  margin-top: 46px;
  margin-bottom: 46px;
}

/* Text */
h1 {
  font-family: var(--font-family);
  color: var(--font-light);
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 66px;
}
h2 {
  font-family: var(--font-family);
  color: var(--font-light);
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 66px;
}
h3 {
  font-family: var(--font-family);
  color: var(--font-gray);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
h4 {
  font-family: var(--font-family);
  color: var(--font-light);
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}
p {
  font-family: var(--font-family);
  color: var(--font-gray);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
/* Box */
.text-box {
  width: 275px;
}
/* Button */
a.primary {
  font-family: var(--font-family);
  color: var(--primary-dark);
  border: 1px solid white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  border-radius: 7px;

  text-decoration: none;

  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.5s;
}

a.primary:hover {
  color: white;
  border: 1px solid white;
  background-color: var(--primary-dark);
  transition: 0.5s;
}
/* Flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Spacer */
.spacer {
  height: 82px;
}

.line-full {
  width: 100%;
  border: 1px solid var(--secondary-dark);
}
/* Position */
.margin-main-x {
  margin-left: 50px;
  margin-right: 50px;
}
